body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header{
    background-color: #d14635;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Press Start 2P', cursive;
}

header h1{
    color: white;
    font-size: 50px;
}

header img{
    border-radius: 80px;
    border: 5px solid white;
}


main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}